<app-header></app-header>
<div class="container">
	<div class="jumbotron">
		<h2>Book Movies fast and easy</h2>
	</div>
	<div class="row">
		<div class="col-md-4">
			<img class = "rounded" style = "width:50%" src="https://m.media-amazon.com/images/I/71niXI3lxlL._SY741_.jpg">
			<h2>Movie 1</h2>
		
				<p>Ratings: 5/10</p>
				<p>Director: Raja Mauli</p>
				<p>Release: 07/03/2023</p>
				<h3>Summary: Good Movie</h3>
				<p>One time watch</p>
		</div>
		<div class="col-md-8">		
				<a class="btn btn-primary btn-large" href="/">Proceed to Payment</a>
		</div>
	</div>
</div>
